<h2><%= _('Karte Details')%></h2>
<p>
  <b><%= _('Seite 1') %></b>
  <%= @card.side1 %>
</p>

<p>
  <b><%= _('Seite 2') %></b>
  <%= @card.side2 %>
</p>

<%= link_to_back cards_path %>&nbsp;<%= link_to_edit edit_card_path(@card) %>
