<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>Karteikarten</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="wrapper">
      <div id="innerwrapper">
        <div id="header">
          <div id='service' >
            <%= link_to 'Über Vokabeltrainer', root_path %> |
            <%= link_to 'Kontakt', root_path %> |
            <%= link_to 'Impressum', root_path %>
          </div>
          <h1><%= link_to 'Vokabeltrainer', root_path %></h1>
          <h2>Vokabeln lernen</h2>
          <ul id="nav">
            <li><%= link_to 'Home', root_path%></li>
            <li><%= link_to 'Abfragen', root_path %></li>
            <li><%= link_to 'Eingeben', root_path %></li>
          </ul>
          <ul id="subnav">
            <li><%= link_to '2te Navigation'%></li>
          </ul>
        </div>
        <div id="sidebar">
          <span id='login_info'>
            <% if user_signed_in? %>
              <h3>Du bist angemeldet als:<br /><%=h current_user.username %></h3>
              <%=link_to "Abmelden", destroy_user_session_path %>
            <% else %>
              <h2>Anmeldung</h2>
              <ul class="subnav">
                <li><%=link_to "Anmelden", new_user_session_path %></li>
                <li><%=link_to "Registrieren", new_user_registration_path %></li>
              </ul>
            <% end %>
          </span>
        </div>
        <div id="contentnorightbar">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
        <div id="footer">
          <p>Template design by <a href="http://www.sixshootermedia.com">Six Shooter Media</a>.<br />
          Umsetzung: Steffen Moelter</p>
        </div>
      </div>
    </div>
</body>
</html>
